.box{
    width: 19%;
    aspect-ratio: 1;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    align-content: center;
}
@media screen and (max-width:600px) {
    .box{
        font-size: 10vw;
    }
}